A:link		{color: mediumblue; text-decoration:none}
A:visited {color: mediumblue; text-decoration:none}
A:hover	{color: #FF0000; text-decoration:none};
A:active	{color: #0000e0; text-decoration:none}

P.menuitem-on		{color: maroon; font-family: monospace; font-size: 14pt; font-weight: bold; text-decoration: none   }
P.menuitem-off	{color: gray; font-family: monospace; font-size: 14pt; font-weight: bold; text-decoration: none }
P.title			{color=#800040; font-size: 18pt; text-align: center}
P.footer			{color=#000000; font-size: 8pt; text-align: center}
h2 { font-size: 1.2em; font-variant: small-caps; text-decoration: none; margin: 0.83em 0; }

A.yalelink:link,
A.yalelink:visited {
  color: #00356B;
  text-decoration: none;
}
A.yalelink:hover {
  color: #FF0000;
  text-decoration: none;
}

A.papertitle:link {  }
A.papertitle:visited {  }
A.papertitle:hover	{ color: #ff0000; text-decoration:none }

A.slidestitle:link { color: #781496; }
A.slidestitle:visited { color: #781496; }
A.slidestitle:hover	{ color: #ff0000; text-decoration:none }


A.coauthor:link { color: #267347; }
A.coauthor:visited { color: #267347; }
A.coauthor:hover	{ color: #ff0000; text-decoration:none }

A.journal:link { color: #8e2525}
A.journal:visited { font-style: normal; color: #8e2525}
A.journal:hover	{ color: #ff0000; text-decoration:none }

A.headeron:link { color: maroon; font-family: monospace; font-size: 14pt; font-weight: bold; text-decoration: none }
A.headeron:visited { color: maroon; font-family: monospace; font-size: 14pt; font-weight: bold; text-decoration: none }
A.headeron:hover	{ color: red; text-decoration:none }

A.headeroff:link { color: green; }
A.headeroff:hover	{ color: #ff0000; text-decoration:none }
